@model MVC_Application1.Models.MCTURClass1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <label>Mi nombre es: @Model.nombre <br /></label>
        <label>Mi apellido es: @Model.apellido <br /></label>
        <label>Mi edad es: @Model.edad </label>
    </div>
</body>
</html>
